<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  
  <table>
    <% product.forEach(function(product) { %>
      <div>
        <a href="/products/detalle/<%= product.id %>">
          <h3><%= product.nombre %></h3>
          <h3><%= product.modelo  %></h3>
          <p>Precio: $<%= product.precio %></p>
          <p>Año: <%= product.anio %></p>
        </a>
      </div>
    <% }); %>
  </table>
  <a href="/products/subirProducto"><button>Agregar Producto Nuevo</button></a>
</body>
</html>
